* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width:1229px;
	margin: 0 auto;
	background-color:#000;
	}
main {
	width:1229px;
	height:671px;
	background-color:#2A2725;
	display:flex;
	justify-content: ;
	align-items: ;
	}

header {
	width:1229px;
	height:72px;
	padding:35px 45px;
	background-color:#2A2725;
	}

.left-side	{	
	width:100px;
	height:600px;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	align-items: center;
	}
.menu-item {	
	width:56px;
	height:56px;
	margin:15px;
	border-radius:15px;
	transition: background-color 1s;
}
.menu-item:hover{
	background-color:#283740;
	cursor: pointer;
	}
.menu-item img{	
	width:28px;
	height:28px;	
	margin:14px;
}
.center	{	
	width:calc(100% - 358px);
	height:600px;
	display:grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-template-rows: auto auto auto; 
	gap: 30px;
	}
.grid-box {	
	color: white;
	text-align: center;
	padding: 20px;
	background-color:#1D1D1D;
	border-radius:20px;
	}
.grid-item2 {grid-column: span 2;}
.grid-item3 {grid-column: span 3;}
.grid-item6 {grid-column: span 6;}

.right-side {
	width:258px;
	height:600px;
	margin:0 30px;
	}
.right-item1 {	
	width:258px;
	height:273px;
	margin:25px 0;
	color: white;
	text-align: center;
	padding: 10px;

	}
.right-item2 {	
	width:258px;
	height:277px;
	margin-top:20px;
	color: white;
	text-align: center;
	background-color:#1D1D1D;
	border-radius:20px;
	}
.layer1 {	
	width:218px;
	height:251px;
	border-radius:36px;
	background:linear-gradient(#7B20E2,#2B1043);
	position:relative;
	top:-418px;	overflow:hidden;
	}
.layer2 {	
	width:215px;
	height:200px;
	border-radius:36px;
	background-color:#C68E3C;
	position:relative;
	top:-215px;
	left:15px;
	transform:rotate(16deg);
	}
.layer3 {	
	width:218px;
	height:200px;
	border-radius:36px;
	background-color:#2F847F;
	position:relative;
	top:-10px;
	left:30px;
	transform:rotate(34deg);

	}
.layer4 {	
	width:618px;
	height:618px;
	border-radius:50%;
	background-color:#2F847F;
	position:absolute;
	top:-270px;
	left:-250px;
	transform:rotate(34deg);
	background-image:radial-gradient(#fff, #7B20E2, #fff);
	opacity:0.5;
	z-index:100;
	}